<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head.ejs') %> 
<body>
    <%- include('../includes/navbar.ejs')  %> 
    <h1 class="text-center">Edit Products</h1>
    <div class="container">
        <form action="/product/edit?_method=PATCH" method ="POST">
            <input type="hidden" name="productId" value="<%=products._id %> ">
            <input type="text" name="title" value = "<%= products.title %> " class="form-control"/>

            <textarea 
                name="description" 
                id="" 
                cols="30" 
                rows="10"
                class = "form-control">
                <%= products.description %> 
            </textarea>
            <div>
                <input type="submit" class="btn btn-outline-info" value="edit">
            </div>
                 
        </form><br>
        
</body>
</html>